<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://sandbox.zalopay.com.vn/qrcode/public/js/zalopay.js?ver=1494921725335" type="text/javascript"></script>
  </head>
  <body>
    {{{body}}}
    <form action="/callback" method="post">
      <input type= "submit" value="Thanh Toam">
    </form>
  </body>
</html>
